{
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-organize-imports"],
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "tailwindFunctions": ["clsx", "cn"]
}
