@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('@solana/wallet-adapter-react-ui/styles.css');


:root {
  --background: theme('colors.light.90');
  --textColor: theme('colors.dark.90');
  --themeSwitchBg: theme('colors.light.70');
  --buttonBg: theme('backgroundImage.gradient-button');
  --buttonTextColor: white;
}

[data-theme="dark"] {
  --background: black;
  --textColor: white;
  --themeSwitchBg: theme('colors.dark.70');
  --buttonBg: theme('colors.light.100');
  --buttonTextColor: theme('colors.dark.100');
}


body, html {
  background-color: var(--background);
  color: var(--textColor);
  -webkit-font-smoothing: antialiased;
}

.dt-modal {
  box-shadow: 0 16px 40px 0 rgba(27, 27, 28, 0.16);
}

.wallet-adapter-dropdown {
  @apply relative flex w-full;
}

.wallet-adapter-button-trigger {
  @apply text-button flex flex-1 items-center justify-center truncate whitespace-nowrap rounded-lg h-10 p-4 font-medium hover:opacity-90;
}

.wallet-adapter-button-trigger, .wallet-adapter-button-trigger:not([disabled]):hover {
  background: var(--buttonBg);
  color: var(--buttonTextColor);
}

.wallet-adapter-button > * > svg > path{
  fill: var(--buttonTextColor);
}

.wallet-adapter-dropdown-list {
  background-color: theme('backgroundColor.dark.90');
}
.wallet-adapter-dropdown-list-item:not([disabled]):hover {
  background-color: theme('backgroundColor.dark.80');
}
