@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import '~@jet-lab/jet-antd/lib/jet-antd.less'; */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #e5ebf4;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #444444;
  --dark-grey: #949494;
  --grey: #d8dfec;
  --light-grey: #e1e7f1;
  --white: #e5ebf4;
  --jet-green: #3d9e83;
  --jet-blue: #278db6;
  --success: #53bd9f;
  --failure: #ec6a69;
  --input-color: rgba(26, 73, 94, 0.7);
  --gradient: linear-gradient(
    135deg,
    var(--jet-green) 25%,
    var(--jet-blue) 85%
  );
  --light-shadow: rgb(255, 255, 255);
  --dark-shadow: rgb(175, 186, 214);
  --neu-shadow: -1.75px -1.75px 3.5px var(--light-shadow),
    1.75px 1.75px 3.5px var(--dark-shadow);
  --neu-shadow-inset-low: inset -1px -1px 1.5px var(--light-shadow),
    inset 1px 1px 1.5px var(--dark-shadow);
  --neu-shadow-inset: inset -1.5px -1.5px 2px var(--light-shadow),
    inset 1.5px 1.5px 2px var(--dark-shadow);
  --neu--datatable-top-shadow: -2.5px 0px 3.5px var(--light-shadow),
    2px 1.5px 3.5px var(--dark-shadow);
  --neu--datatable-bottom-shadow: -3px 0px 2px var(--light-shadow),
    1.5px 2.5px 3.5px var(--dark-shadow);
  --neu-datatable-inset-shadow: inset -1px -1px 1px var(--light-shadow),
    inset 1px 1px 1px var(--dark-shadow) !important;
  --neu-datatable-shadow: inset -1px -1px 1px var(--dark-shadow),
    inset 1px 1px 1px var(--light-shadow) !important;
  --neu-shadow-inset-success: inset -2px -2px 2px #78d6bb,
    inset 2px 2px 2px #28866c;
  --neu-shadow-inset-failure: inset -2px -2px 2px #f58d8d,
    inset 2px 2px 2px #c94646;
  --neu-shadow-inset-gradient: inset -2px -2px 2.5px #36a3ce,
    inset 2px 2px 2.5px #28866c;
  --neu-shadow-inset-gradient-low: inset -1.5px -1.5px 2px #36a3ce,
    inset 1.5px 1.5px 2px #28866c;
  --drop-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
  --disabled-opacity: 0.85;
  --nav-width: 60px;
  --mobile-nav-height: 60px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 18px;
  --spacing-xl: 24px;
  --border-radius: 20px;
  --round-radius: 50px;
  --btn-radius: 7px;
  --btn-padding: 7px 20px 5px 20px;
  --secondary-btn-padding: 7px 10px 5px 10px;
  --range-slider-bg: rgba(255, 255, 255, 0.25);
  --range-slider: var(--white);
  --range-handle-inactive: var(--white);
  --range-handle: var(--white);
  --range-handle-focus: var(--white);
  --range-handle-border: var(--jet-green);
  --range-float-text: var(--black);
}

.text-gradient {
  opacity: 1 !important;
  background-image: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.bg-gradient {
  background-image: var(--gradient) !important;
}
