@tailwind base;
@tailwind components;
@tailwind utilities;

.dialect {
  font-family: inherit;
}

.dialect {
  --dt-border-radius-xs: 0.375rem;
  --dt-border-radius-s: 0.5rem;
  --dt-border-radius-m: 0.75rem;
  --dt-border-radius-l: 1rem;
}

.dialect {
  --dt-accent-brand: #09cbbf;
  --dt-accent-error: #f62d2d;
  --dt-accent-success: #09cbbf;
  --dt-bg-brand: #ebebeb;
  --dt-bg-primary: #ffffff;
  --dt-bg-secondary: #f9f9f9;
  --dt-bg-tertiary: #f2f3f5;
  --dt-brand-transparent: #b3b3b31a;
  --dt-button-primary: #2a2a2b;
  --dt-button-primary-disabled: #656564;
  --dt-button-primary-hover: #434445;
  --dt-button-secondary: #ebebeb;
  --dt-button-secondary-disabled: #f2f3f5;
  --dt-button-secondary-hover: #f2f3f5;
  --dt-error-transparent: #f62d2d1a;
  --dt-icon-primary: #2a2a2b;
  --dt-icon-secondary: #888989;
  --dt-icon-tertiary: #b3b3b3;
  --dt-input-checked: #09cbbf;
  --dt-input-primary: #dee1e7;
  --dt-input-secondary: #ffffff;
  --dt-input-unchecked: #d7d7d7;
  --dt-stroke-primary: #dee1e7;
  --dt-success-transparent: #09cbbf1a;
  --dt-text-accent: #08c0b4;
  --dt-text-inverse: #ffffff;
  --dt-text-primary: #232324;
  --dt-text-quaternary: #888989;
  --dt-text-secondary: #434445;
  --dt-text-tertiary: #737373;
}

.dialect[data-theme='dark'] {
  --dt-accent-brand: #09cbbf;
  --dt-accent-error: #ff4747;
  --dt-accent-success: #09cbbf;
  --dt-bg-brand: #656564;
  --dt-bg-primary: #1b1b1c;
  --dt-bg-secondary: #232324;
  --dt-bg-tertiary: #2a2a2b;
  --dt-brand-transparent: #b3b3b31a;
  --dt-button-primary: #ffffff;
  --dt-button-primary-disabled: #dee1e7;
  --dt-button-primary-hover: #f9f9f9;
  --dt-button-secondary: #323335;
  --dt-button-secondary-disabled: #434445;
  --dt-button-secondary-hover: #383a3c;
  --dt-error-transparent: #f62d2d1a;
  --dt-icon-primary: #ffffff;
  --dt-icon-secondary: #888989;
  --dt-icon-tertiary: #737373;
  --dt-input-checked: #09cbbf;
  --dt-input-primary: #434445;
  --dt-input-secondary: #1b1b1c;
  --dt-input-unchecked: #656564;
  --dt-stroke-primary: #323335;
  --dt-success-transparent: #09cbbf1a;
  --dt-text-accent: #09cbbf;
  --dt-text-inverse: #1b1b1c;
  --dt-text-primary: #ffffff;
  --dt-text-quaternary: #888989;
  --dt-text-secondary: #c4c6c8;
  --dt-text-tertiary: #888989;
}

.dialect .dt-modal {
  /* mobile */
  @apply dt-fixed dt-right-0 dt-top-0 dt-z-[100] dt-h-full dt-w-full;
  /* non mobile */
  @apply sm:dt-absolute sm:dt-top-16 sm:dt-h-[600px] sm:dt-w-[420px] sm:dt-rounded-[--dt-border-radius-l] ;
  /* styles */
  @apply dt-overflow-hidden dt-border dt-border-[--dt-stroke-primary];
}
