@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .wallet-adapter-button.dialect-wallet-button {
    border: 1px solid white;
    @apply dt-flex dt-items-center dt-transition dt-ease-in-out dt-duration-300 dt-text-black dark:dt-text-white dt-border dark:dt-border-neutral-600 dt-rounded-md dt-py-2 dt-px-6 dt-bg-white dark:dt-bg-transparent dt-shadow-md dt-shadow-neutral-300 dark:dt-shadow-neutral-800 dt-text-[#353535];
  }
  .wallet-adapter-button.dialect-wallet-button:hover,
  .wallet-adapter-button.dialect-wallet-button:not([disabled]):hover {
    @apply dt-bg-none dt-shadow-lg dt-shadow-neutral-400 dark:dt-shadow-neutral-700;
  }
}
