@tailwind base;
@tailwind components;
@tailwind utilities;

.dialect {
  --dt-bg-primary: theme('colors.light.100');
  --dt-bg-secondary: theme('colors.light.80');
  --dt-bg-tertiary: theme('colors.light.60');
  --dt-bg-brand: theme('colors.light.60');
  --dt-bg-brand-transparent: theme('colors.dark.50' / 10%);
  --dt-input-primary: theme('colors.light.50');
  --dt-input-secondary: theme('colors.light.100');
  --dt-input-tertiary: theme('colors.light.60');
  --dt-input-inverse: theme('colors.dark.90');
  --dt-input-checked: theme('colors.accent.success.DEFAULT');
  --dt-input-unchecked: theme('colors.light.30');
  --dt-input-disabled: theme('colors.light.30');
  --dt-text-primary: theme('colors.dark.100');
  --dt-text-secondary: theme('colors.dark.80');
  --dt-text-tertiary: theme('colors.dark.60');
  --dt-text-inverse: theme('colors.light.100');
  --dt-stroke-primary: theme('colors.light.50');
  --dt-icon-primary: theme('colors.dark.90');
  --dt-icon-secondary: theme('colors.dark.60');
  --dt-icon-tertiary: theme('colors.dark.50');
  --dt-icon-inverse: theme('colors.light.100');
  --dt-accent-brand: theme('colors.accent.success.DEFAULT');
  --dt-accent-success: theme('colors.accent.success.DEFAULT');
  --dt-accent-warning: theme('colors.accent.warning.DEFAULT');
  --dt-accent-error: theme('colors.accent.error.DEFAULT');
  --dt-border-radius-s: 0.5rem;
  --dt-border-radius-m: 0.75rem;
  --dt-border-radius-l: 1rem;
}

/* TODO: darkmode */
.dialect[data-theme='dark'] {
  --dt-input-secondary: #ff00ff;
}
